.skillsContent {
    margin: 50px auto;
    width: 95%;
}

.skillsNav {
    width: 90%;
    margin: 20px auto 2px;
    display: flex;
    justify-content: center;
    background: #e3e8f3;
}

.skillsNav a{
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}

.skillsNav a:hover {
    color: black;
    background: #cbd0da;
}

.unActiveSkills {
    color: black;
    background-color: white;
}

.activeSkills {
    color: black;
    background: #cbd0da;
    font-weight: bold
    ;
}
.diplomes {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.diplome {
    border: ridge 5px #9B6A57;
    width: 140px;
    height: 160px;
    text-align: center;
    background-color: white;
    margin: 5px 20px;
}
.diplomeTitle {
    padding: 5px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
    font-size: 14px;
}
.diplomeText {
    margin-bottom: 10px;
    font-size: 12px;
}

@media screen and (max-width: 720px) {
    .diplomes {
       width: 100%;
       flex-wrap: wrap;
    }
    .diplome {
       min-width: 140px;
       min-height: 160px;
    }
}