@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Zen Antique', serif;
}
button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  background-size: 300% 100%;
  border: none;
}
button:hover {
  background-image: linear-gradient(35deg, #404640 0%, #F0F0F0  30%, #404640  100%);
  background-position: 100% 0;
  transition: all 0.5s ease-in-out;
  color: white;
}


@media screen and (max-width: 760px) {
  .instructions {
    font-size: 15px;
  }
}
